/* ******* *
 * All CSS *
 * ******* */

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
			
	margin: 0px;
}
body {
	font-family: "Arial", sans-serif;
}
.page_container {
}

/* ********** *
 * Header CSS *
 * ********** */
 
/* Header Container */
.header {
	background-color: grey;
	margin: 0px;
}
.header > div {
	padding: 0px;
}
/* Header Content */
.header_content {
	text-align: center;
	width: 65%;
	margin: 0 auto;
	padding-top: 25px;
	padding-bottom: 20px;
}
/* Header Title Div */
.header_title {
	margin-bottom: 10px;
}
/* Header Title Text */
.header_title a{
	color: white;
	font-weight: bold;
	font-size: 40px;
	
	vertical-align: middle;
	text-decoration: none;
}
/* Header Shortcuts Div */
.header_shortcuts {
}
.header_shortcuts p {
	color: white;
}
/* Header Shortcuts Text */
.header_shortcuts a,
.header_shortcuts a:hover,
.header_shortcuts a:focus {
	color: white;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	vertical-align: middle;
	
	margin-left: 10px;
	margin-right: 10px;
}

/* ********** *
 * Footer CSS *
 * ********** */

 /* Footer Container */
.footer {
	background-color : #595959;
	clear: both;
}
.footer > div {
	padding: 0px;
}
/* Footer Content */
.footer_content {
	text-align: center;
	width: 65%;
	
	margin: 0 auto;
	padding-top: 15px;
	padding-bottom: 25px;
}
/* Footer Links Div */
.footer_links {
	font-size: 32px;
	padding: 0px;
}
.footer_links a{
	color: white;
	text-decoration: none;
}
/* Footer Description Div */
.footer_description {
}
.footer_description p{
	color: white;
	font-size: 15px;
}
/* Footer Copyright Div */
.footer_copyright {
}
.footer_copyright p{
	color: white;
	font-size: 12px;
}

/* ********** *
 * Utility CSS *
 * ********** */
 
.vertical_center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
